nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
  button.navbar-toggler.navbar-toggler-right.hidden-lg-up(
    type='button'
    data-toggle='collapse'
    data-target='#navbar'
    aria-controls='navbar'
    aria-expanded='false'
    aria-label='Toggle navigation'
   )
    span.navbar-toggler-icon
  a.navbar-brand(href='/') Overview
  #navbar.collapse.navbar-collapse
  
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home

    block navbar-right
      if user
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle#nav-dropdown(
              href='#'
              data-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            )
              i.fa.fa-user-circle-o
              span.ml-1 #{user.name}
            .dropdown-menu.dropdown-menu-right(aria-labelledby='nav-dropdown')
              a.dropdown-item(href='/users/settings')
                i.fa.fa-wrench
                span.fa-fit Settings
              .dropdown-divider
              a.dropdown-item(href='/users/logout')
                i.fa.fa-sign-out
                span.fa-fit Sign Out

      else
        ul.navbar-nav
          .navbar-item
            a.nav-link(href='/users/login')
              i.fa.fa-sign-in
              span.ml-1 Sign In
            
