nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
  button.navbar-toggler.navbar-toggler-right.hidden-lg-up(
    type='button'
    data-toggle='collapse'
    data-target='#navbar'
    aria-controls='navbar'
    aria-expanded='false'
    aria-label='Toggle navigation'
   )
    span.navbar-toggler-icon
  a.navbar-brand(href='/') Overview
  #navbar.collapse.navbar-collapse
  
    ul.navbar-nav.mr-auto
    
      li.nav-item.active
        a.nav-link(href='/') Home
          span.sr-only(current)

    block navbar-right
      if user
        .navbar-text
          #user-name=user.name


        ul.navbar-nav
          li.nav-item.dropdown
            a.btn.nav-link.dropdown-toggle#nav-dropdown(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-cog
            .dropdown-menu.dropdown-menu-right(aria-labelledby='nav-dropdown')
              a.dropdown-item(href='/users/settings')
                i.fa.fa-wrench
                span.fa-fit Settings
              .dropdown-divider
              a.dropdown-item(href='/users/logout')
                i.fa
                span.fa-fit Sign Out

      else
        ul.navbar-nav
          .navbar-item
            a.btn(href='/users/login') Sign In
