extends ./index.pug

block settings-content
  .offset-3.col-6
    form#general-settings(method='POST' action='/users/settings/general')
      .form-group.row
        label.col-2.col-form-label(for='#user-image') Image
        .col-10(style='min-height: 114px;')
          #avatar-preview.avatar-container.image-preview-container.rounded
            .avatar-controls.text-right
              .collapse
                input#image-input(type='file' data-target='#avatar-preview')
              .btn-group-vertical.btn-group-sm(role='group')
                button.btn(
                  type='button'
                  data-toggle='tooltip'
                  data-placement='right'
                  title='Delete current image'
                )
                  i.fa.fa-trash-o
                button.btn#image-preview-clear(
                  type='button'
                 )
                  i.fa.fa-remove
                button.btn.btn-primary#image-preview-btn(
                  type='button'
                  data-toggle='tooltip'
                  data-placement='right'
                  title='Upload a new image'
                 )
                  i.fa.fa-upload
            .avatar-image
              .preview-image
                if user.image
                  span my image
              .avatar-stand-in.default-image
                i.fa.fa-5x.fa-user-circle
    
      .form-group.row
        label.col-2.col-form-label(for='username') Username
        .col-10
          input.form-control#username(type='text', value=user.name)
      
      .form-group.row
        label.col-2.col-form-label(for='email') Email
        .col-10
          input.form-control#email(type='text', value=user.email)
      
      .form-group.row
        .offset-2.col-10
          button.btn.btn-primary(type='submit') Save Settings
