extends ./index.pug

block settings-content
  .offset-2.col-8
    form#general-settings(method='POST' action='/users/settings/general' enctype='multipart/form-data')
      .form-group.row
        label.col-2.col-form-label(for='#user-image') Image
        .col-10(style='min-height: 114px;')
          #avatar-preview.avatar-container.image-preview-container.rounded
            .avatar-controls.text-right
              .collapse
                input#image-input(type='file' name='image' data-target='#avatar-preview')
              .btn-group-vertical.btn-group-sm(role='group' data-toggle='buttons')
                button.btn.p-0#delete-image(
                    type='button'
                    data-toggle='tooltip'
                    data-placement='right'
                    data-animation='false'
                    title='Remove current image'
                    alt-title='Undo'
                    name='delete_image'
                  )
                    .fa-stack
                      i.fa.fa-stack-1x.fa-trash-o
                      .collapse
                        i.fa.fa-stack-2x.text-danger.fa-ban
                button.btn#image-preview-clear(
                  type='button'
                 )
                  i.fa.fa-remove
                button.btn.text-primary#image-preview-btn(
                  type='button'
                  data-toggle='tooltip'
                  data-animation='false'
                  data-placement='right'
                  title='Upload a new image'
                 )
                  i.fa.fa-upload
            .avatar-image
              .preview-image
              .default-image
                if user.hasImageResource()
                  img.img-fluid(src='/userdata/'+user.getImageAsResource())
                .image-stand-in(class=user.hasImageResource()?"collapse":"")
                  i.fa.fa-5x.fa-user-circle
    
      .form-group.row
        label.col-2.col-form-label(for='username') Username
        .col-10
          input.form-control#username(type='text' name='name' value=user.name)
      
      .form-group.row
        label.col-2.col-form-label(for='email') Email
        .col-10
          input.form-control#email(type='text' name='email' value=user.email)
      
      .form-group.row
        .offset-2.col-10
          button.btn.btn-primary(type='submit') Save Settings